<script type="text/javascript">
  function display_new_category() {
    category = document.getElementById("expense_category").value;
    console.log(category);
    (category == "New") ? show("new_category_div") : hide("new_category_div");
  }

  function hide(id) {
    document.getElementById(id).style.display = 'none';
  }
  function show(id) {
    document.getElementById(id).style.display = 'block';
  }

</script>

<%= form_for @expense, :html => {:class => "form-horizontal", :role => "form"} do |f| %>
  <% if @expense.errors.any? %>
    <div id="error_explanation">
      <ul class="list-group">
      <% @expense.errors.full_messages.each do |msg| %>
        <li class="list-group-item list-group-item-danger"><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <div class="col-sm-8 col-md-5 col-lg-4">
      <div class="input-group">
        <span class="input-group-addon"><span class="glyphicon glyphicon-usd"></span></span>
        <%= f.number_field :amount, in: 0.0..999999999.99, step: 0.01, 
          class: "form-control", placeholder: "Amount" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <% @expense.date ||= Time.zone.today %>
    <div class="col-sm-8 col-md-5 col-lg-4">
      <div class="input-group">
        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
        <%= f.date_field :date, class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-8 col-md-5 col-lg-4">
      <% options = ([["Create new category", "New"]] + user_categories) %>
      <%= f.select :category, options, {:prompt => "Select Category"}, 
        :onchange => "display_new_category();", :class => "form-control"%>
    </div>
  </div>

  <div id="new_category_div" style="display:none">
    <div class="form-group">
      <div class="col-sm-8 col-md-5 col-lg-4">
      <div class="input-group">
        <span class="input-group-addon"><span class="glyphicon glyphicon-pencil"></span></span>
        <%= text_field_tag :new_category, nil, class: "form-control", 
          placeholder: "New Category" %>
      </div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-8 col-md-5 col-lg-4">
      <div class="input-group">
        <span class="input-group-addon"><span class="glyphicon glyphicon-tag"></span></span>
        <%= f.text_area :description, class: "form-control", placeholder: "Description" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-8 col-md-5 col-lg-4">
      <%= f.submit :class => "btn btn-primary" %>
      <%= link_to "Cancel", remembered_page || overview_expenses_path, 
        class: "btn btn-default pull-right" %>
    </div>
  </div>
<% end %>

