<%= link_to 'View All', expenses_path %>
| <%= link_to 'Edit', edit_expense_path(@expense) %>
| <%= link_to 'Delete', expense_path(@expense), 
  method: :delete, data: { confirm: 'Are you sure?' } %>
<div class="table-responsive">
<table class="table table-striped">
  <tr>
    <th>Amount</th>
    <td> <%= number_to_currency(@expense.amount) %>
  </tr>
  <tr>
    <th>Date</th>
    <td> <%= @expense.date %>
  </tr>
  <tr>
    <th>Category</th>
    <td> <%= @expense.category %>
  </tr>
  <tr>
    <th>Description</th>
    <td> <%= @expense.description %>
  </tr>
</table>
</div>

