<!DOCTYPE html>
<html>
<head>
  <title>Expenses</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<%= render :partial => 'layouts/navbar' %>
<div class="container-fluid">
  <div class="row">
    <%= render :partial => 'layouts/sidebar' %>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <% flash.each do |type, message| %>
        <br>
        <div class="alert <%= bootstrap_flash(type) %> alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
          </button>
          <%= message %>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </div>
</div>

</body>
</html>

